# 忽略所有大文件
/.autodl
/models
paper/data/processed/*.csv
paper/data/processed/*.parquet
paper/data/processed/*.npy
*.pkl
*.h5
*.pt
*.pth
*.onnx

# 忽略缓存和临时文件
__pycache__/
*.pyc
.DS_Store
Thumbs.db
.vscode/
.idea/
logs/
*.log
